<div >
    <div class = "header">
        <div class = "header_child" >
            <a href="/"><i></i> Home</a>
        </div class = "header_child">
        <div>
            <a href="/favourites"> Favourites</a>
        </div>
        <div class = "header_child">
            <a href="/cart/">Cart</a>
        </div>
        
       
         

    </div>

</div>